/* .attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
} */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: #000000;
}
body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}
#wrapper{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: #FFF5F5;
}
.left-wrapper{
    flex-basis: 61.45%;
    background: url('../images/bg-pattern-desktop.svg') no-repeat ;
    background-size: cover;
}
.inner-left{
    width: 60%;
    margin: 0 auto;
}
header{
    padding: 3.5rem 0 7rem 0;
}
.first-heading,.second-heading{
    letter-spacing: 1.2rem;
    text-transform: uppercase;

}
.first-heading{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    font-size: 4rem;
}
.second-heading{
    font-weight: 600;
    font-size: 4rem;
    color: hsl(0, 6%, 24%);
}
main p{
    color: hsl(0, 36%, 70%);
    width: 70%;
    font-size: 16px;
    line-height: 1.9rem;
    padding: 1.3rem 0 3rem 0;
}
#email{
    width: 70%;
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    border: 1px solid  hsl(0, 36%, 70%);
    background: none;

}
#email::placeholder{
    color: hsl(0, 36%, 70%);
    
}
footer{
   background-color: hsl(0, 36%, 70%);
   padding: 1rem;
   text-align: center;
   color:#ffffff;
}